.dummy-element-footer {
  height: calc(100vh - 284px);
}

.cont-btn {
  background-color: #f6de2d;
  border: 1px solid #f6de2d;
  color: black;
  margin-top: 0.5rem;
}

.page-number-btn {
  border: 1px solid #bdbdbd;
  color: black;
}

.page-item.active>* {
  background-color: #f6de2d !important;
  border-color: #f6de2d !important;
  color: black !important;
}

p {
  font-size: 0.8rem;
}

div>a>img {
  object-fit: cover;
  border-radius: 30px 30px 0 0 !important;
}

.card-header {
  text-align: center;
}

.card {
  border-radius: 30px !important;
}

a {
  text-decoration: none;
  color: black;
}

