#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 290px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 290px;
}

input[name=quantity] {
  text-align: center;
}

.btn-warning:hover {
  font-weight: bold;
  color: whitesmoke;
  background-color: green;
  border-color: greenyellow;
  box-shadow: 0 0 0 .3rem greenyellow;
}

.minus-btn:hover {
  background: #cf2c2cc9;
  color: rgb(255, 255, 255);
}

.plus-btn:hover {
  background: #32aa32c2;
  color: rgb(255, 255, 255);
}