:root{
  --success-color: green;
  --error-color: #e74c3c;
}

.login {
  padding: 25px;
  border: #e9eaee 1px solid;
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
  font-size: 20px;
  box-shadow: 1px 2px 5px #999999;
  font-family: "Cambria";
}
.div-login {
  padding: 15px 0px 15px 0px;
}
a {
  color: #20c997;
}

.login_btn {
  background: #f6de2d;
  border-radius: 20px;
  color: white;
  font-size: large;
}

.form input {
  width: 100%;
  border: 1px solid black;
}

.form.error small{
  color: var(--error-color);
}

