.h-1024px {
  height: 1024px;
}


.resetbtn,
.resetbtn:hover,
.resetbtn:focus,
.resetbtn:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
}

.tf-inter {
  font-family: "Inter", sans-serif;
}

/* CSS */
.side {
  height: 100vh;
}

@media (min-width: 800px) {
  .side {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 1rem;
  }

  aside {
    align-self: start;
  }
}

.sidebar-item {
  padding: 8px;
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center center;
}

.brand-logo {
  display: block;
  box-sizing: border-box;
  object-fit: contain;
  align-items: center;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s;
  width: 100%;
  height: 100%;
  border: 1px dashed #33333367;
}

.brand:hover {
  transform: scale(2);
  background-color: gold;
  color: black;
}

.check-box-child {
  padding: 0;
}

.dummy-element-footer {
  height: calc(1000px);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

body {
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.flex-item-left,
.flex-item-mid,
.flex-item-right {
  margin: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.flex-item-left {
  flex: 30%;
}

.flex-item-mid {
  flex: 30%;
}

.flex-item-right {
  flex: 30%;
}

.dummy-element-footer {
  height: 60rem;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

  .flex-item-right,
  .flex-item-mid,
  .flex-item-left {
    flex: 100%;
    margin-left: auto;
  }

  .flex-item-right,
  .flex-item-mid,
  .flex-item-left>* {
    justify-content: center;
  }

  .dummy-element-footer,
  .dummy-element-footer2 {
    height: 140rem;
  }

  .card {
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  .dummy-element-footer {
    height: 1500px;
  }
}

.card-body {
  border-radius: 0%;
}