#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  /* background-color: #fff; */
  background-image: linear-gradient(135deg, #fffc00 20%, #d2561b82 80%);
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 40px;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: #00000030 2px 1px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(135deg, #fffc00 20%, #d2561b82 80%);
  transition: 1s;
}

#myBtn:hover {
  background-image: linear-gradient(135deg, #d2561b82 20%, #fffc00 80%);
}
