#toolbar {
}

#toolbar > * {
  position: fixed;
  z-index: 99;
  right: 30px;
  margin: auto;
  top: calc(50% - 81px);
  box-sizing: border-box;
}

label.btn-outline-danger {
  box-shadow: 2px 2px #00000060;
  /* background-color: #ffff5f; */
  background-image: linear-gradient(135deg, #fffc00 20%, #d2561b82 80%);
  border: 0;
  color: #000;
}

label.btn-outline-danger:hover {
  background-image: linear-gradient(135deg, #d2561b82 20%, #fffc00 80%);
}

label.btn-outline-danger > i {
  font-size: 1.2rem;
}
